#resultA,
#resultB,
#resultC,
#resultNull {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body { 
  background-color: rgb(47, 73, 65);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: blanchedalmond;
  padding: 10px;
  text-shadow: 10px 10px 20px black;
}
h2 {
  text-align:center;
  font-style: italic;
  color: rgb(75, 2, 67);
  padding: 10px;
  text-shadow: 2px 2px 2px black;

}
h4{
  color: blanchedalmond;
  padding: 5px;
  text-shadow: 10px 10px 20px black;
}
.column {
  float:left;
  width:50%;
  padding:10px;
}
.column {
  float: right;
  width:50%;
  padding:20px;
}

.btn {
  color: rgb(75, 2, 67);
  font-weight: bold;
  border: 2px solid black;
  background-color: rgb(129, 113, 133);
  cursor: pointer;
  padding:20px;
}
#resultA {
  font-weight: bolder;
  color: red;
  text-shadow: 3px 3px 3px black;
}

#resultB {
  font-weight: bolder;
  color: red;
  text-shadow: 3px 3px 3px black;
}

#resultC {
  font-weight: bolder;
  color: red;
  text-shadow: 3px 3px 3px black;
}

img {
  padding: 25px;
  height: 200px;
  width: 300px;
}